TELEDESK_TG_API_ID=your_telegram_api_id
TELEDESK_TG_API_HASH=your_telegram_api_hash
TELEDESK_GITHUB_OWNER=Germano
TELEDESK_GITHUB_REPO=teledesk
TELEDESK_GITHUB_API_BASE=https://api.github.com
TELEDESK_UPDATE_CHANNEL=stable
TELEDESK_PORTABLE_EXE=teledesk.exe
TELEDESK_TDLIB_ROOT=vendor/tdlib
