TELEDESK_TG_API_ID=your_telegram_api_id
TELEDESK_TG_API_HASH=your_telegram_api_hash
TELEDESK_GITHUB_OWNER=Germano
TELEDESK_GITHUB_REPO=teledesk
TELEDESK_UPDATE_CHANNEL=stable
TELEDESK_TDLIB_ROOT=vendor/tdlib
